doctype html
html
  head
    title Video Sharing App
    link(rel='stylesheet', href='/public/resources/styles/styles.css')
    link(rel='stylesheet', href='/public/resources/styles/loginmodal.css')
    link(rel='icon', type='image/x-icon', href='/public/favicon/favicon.ico')
  body
    block content
    script(src='https://code.jquery.com/jquery-3.6.4.min.js', integrity='sha256-oP6HI/tZ1XaIB6hlR6Sln1nDSiDl6fe/BaF5h5uKGXI=', crossorigin='anonymous')
    script(src='/resources/scripts/modal.js')
    script(src='/resources/scripts/loginmodal.js')
