<!-- templates/feedbackPage.hbs -->
{{#if isCorrect}}
    <p class="feedback-message">Brilliant!</p>
{{else}}
    <p class="feedback-message">Sorry, that's incorrect. The correct answer is: {{correctAnswer}}</p>
    <button id="gotIt">Got it</button>
{{/if}}
