body {
    background-color: #FFF9DD;
    color: rgb(25, 0, 255);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.096);
}

input {
    background-color: black;
    border-color: white;
    color: #ff008c;
    border-style: solid;
}

option {
    background-color: black;
    color: #ffc400;
    border-color: white;
}
